@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "HMRegular";
   src: url("./assets/Merrant-Regular.ttf");
 }
@font-face {
   font-family: "CodeSaver";
   src: url("./assets/CodeSaver-Regular.otf");
 }

:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  /* border: 2px solid blue; */
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  box-sizing: border-box;
}

@layer utilities {
   .clip {
      clip-path: polygon(1% 37%, 88% 36%, 88% 0, 100% 0, 100% 100%, 0 100%);
   }
}

@layer components {
   .bordeA {
     @apply border-solid border-2 border-green-500;
   }
   .bordeB {
     @apply border-solid border-2 border-red-500;
   }
   .bordeC {
     @apply border-solid border-2 border-indigo-800;
   }
   .bordeD {
     @apply border-solid border-2 border-blue-600;
   }
   .button {
      @apply bg-[#00ca8d] text-white px-3 py-3 font-semibold active:text-gray-300
   }
   .fcenter {
      @apply flex justify-center items-center
   }
   .triangulo {
      @apply border-t-[8px] border-t-gray-500 border-r-[4px] border-r-transparent border-l-[4px] border-l-transparent
   }
}
